#* @vtlvariable name="instance" type="com.bardframework.plugin.BardTesterMojo" *#
#* @vtlvariable name="servletClass" type="java.lang.String" *#
#* @vtlvariable name="handlerClass" type="java.lang.String" *#
#* @vtlvariable name="package" type="java.lang.String" *#
#* @vtlvariable name="apis" type="java.util.Set<com.bardframework.bard.core.doc.Api>" *#
package $package;

import com.bardframework.bard.util.server.BardServer;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.mashape.unirest.http.Unirest;
import com.mashape.unirest.http.exceptions.UnirestException;
import com.mashape.unirest.request.HttpRequest;

import ${testServerPackage}.TestServer;

import static com.mashape.unirest.http.Unirest.*;

import org.junit.AfterClass;
import org.junit.BeforeClass;

import java.io.IOException;
import java.util.HashMap;

public class ${handlerClass}Tester {
    protected static String host;
    private static BardServer server = new BardServer(${servletClass}.
    class);
    protected static ObjectMapper mapper = new ObjectMapper();

    public ${handlerClass}Tester () throws Exception {
    }

    #foreach ($api in $apis)
    public static <T> T $api.handlerMethod.name (
        #foreach ($params in $api.parameters)
        final $params.rawType.name.replace("$", ".") $instance.covertNameToParam($params.name),
        #end
        Class<T> _type
    ) throws Exception {
        String host = TestServer.getHost();
        String _c = Unirest.${api.method.toLowerCase()}(host + "$api.path" )
        #set($isJson = false)
        #foreach ($params in $api.parameters)
            #if ($params.belongs == "header")
                #set($method = "header")
            #elseif ($params.belongs == "path")
                #set($method = "routeParam")
            #elseif ($params.belongs == "url")
                #set($method = "queryString")
            #elseif ($params.belongs == "form" || $params.belongs == "multipart" )
                #set($method = "field")
            #elseif ($params.belongs == "json")
                #set($isJson = true)
            #end
            #if (!$isJson)
                .${method}("$params.name" ,$instance.covertNameToParam($params.name))
            #end
        #end
        #if ($isJson)
            .body(mapper.writeValueAsString(new HashMap<String, Object>() {
                {
                    #foreach ($params in $api.parameters)
                        #if ($params.belongs == "json")
                    this.put("$params.name",$instance.covertNameToParam($params.name));
                        #end
                    #end
                }
            }))
        #end
            .asString().getBody();
        return mapper.readValue(_c, _type);
    }
    #end
}


